  <%# form을 따로 빼서 사용하기위해 추출 - partial %>
  <%# This is out new post form %>
  <%# post_path == "/posts" %>
  <%# form_with는 erb 파일에서 사용하는 헬퍼 메서드입니다 %>
  <%= form_with model: @post do |form| %>
  <%# Render errors if they exist %>
  <% if @post.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Errors found:</strong>
      <ul class="list-disc pl-5">
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%# title label and field area %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: "border border-gray-300 rounded px-3 py-2 w-full"%>
    </div>

    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body, class: "border border-gray-300 rounded px-3 py-2 w-full h-40" %>
    </div>

    <%= form.submit "Create Post" , class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
